img {
	display: flex;
	height: 90vh;
	width: 100%;
	min-height: 50px;
	background-size: cover;
	background-attachment: fixed;
}

/* * {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .main {
	width: 100%;
	height: 100vh;
  }
  
  video {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  .overlay {
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 93vh;
  } */
