

/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Navbar Section*/
.logo {
  height: 50px;
  width: 200px;
  padding-left: 5rem;
}

.nav1 {
  background: rgba(128, 128, 128, 0.233);
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.title {
  margin-left: 5rem;
  background: linear-gradient(red, white);
  
}
.ml-auto {
  padding-right: 5rem;
  transition-delay: 3s;
}
.ml-auto :hover {
  background: linear-gradient(red, white);
}
/* Log in Section */
.log-container {
  width: 100%;
  height: auto;
  justify-content: center;
  position: relative;
  left: 35%;
  padding-top: 5rem;
}
.log-box {
  width: 500px;
  height: 400px;
 background-color: red;
  color: white;
  border-radius: 10px;
}
.log-form {
  margin-top: 125px;
  text-align: left;
  width: 500px;
  padding: 2rem;
  margin: auto;
}
.log {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Register Section */
.reg-container {
  width: 100%;
  height: auto;
  justify-content: center;
  position: relative;
  left: 35%;
  padding-top: 2rem;
}
.reg-box {
  width: 500px;
  height: 400px;
 background-color: red;
  color: white;
  border-radius: 10px;
}
.reg-form {
  margin-top: 125px;
  text-align: left;
  width: 500px;
  padding: 2rem;
  margin: auto;
}
.reg {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Product Section */
.card-container {
  width: 100%;
  height: auto;
  padding-left: 3rem;
}
.card-box {
  width: 100rem;
  height: 18rem;
}
/* Add Product */
.reg-container {
  width: 500px;
  height: 500px;
  padding-top: 5px;
background-color: red;
  color: white;
  border-radius: 10px;
}

/* Admin Dashbord */
.tb-1 {
  text-align: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 2rem;
}
.btn-1 {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}








